/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.showCart{
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0 6px;
  background-color: blue;
}
.container{
  width: 900px;
  max-width: 90vh;
  margin: auto;
  text-align: center;
  padding-top: 15px; 
  transition: transform 0.5s;
 
}
svg{
  width: 30px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  background-color: green;
}

header .icon-cart{
  position: relative;
}

header .icon-cart span{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.listProduct .item img{
  width: 90%; 
  filter: drop-shadow(0 50px 20px #0029);
}

.listProduct{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.listProduct .item{
  background-color: #00b4d6;
  padding: 20px;
  border-radius: 20px;
}

.listProduct .item h2{
  font-weight: 400;
  font-size: 20px;
}

.listProduct .item .price{
  font-size: small;
}

.listProduct .item button {
  background-color: #333;
  color: #fff;
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.cartTab {
  width: 500px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -500px 0 auto;
  display: block;
  transition: 0.5s;
}

body.showCart .cartTab{
  inset: 0 0 0 auto; 
}

body.showCart .container{
  transform: translateX(-250px);
}

.cartTab h1 {
  padding: 20px ;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 15%;
}

.cartTab .btn button {
  background-color: yellow;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Rubik', sans-serif; 
}

.cartTab .btn .close{
  background-color: #eee;
}

.cartTab .listCart{
  height: 75vh;
  width: 100%;
}

.cartTab .listCart .item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: space-around;
  align-items: center;
}

.cartTab .listCart .item img{
  width: 55%;
}
.cartTab .listCart .item .name{
  width: 50%;
}
.cartTab .listCart .item .totalPrice{
  width: 50%;
}

.cartTab .listCart .item .totalPrice{
  width: 50%;
}

.cartTab .listCart .item .quantity{
  display: flex;
}

.cartTab .listCart .item .quantity span{
  height: 25px;
  width: 25px;
  background-color: #eee;
  color: #111;
  font-size: 20px;
  font-weight: 400;
  align-text: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
  font-weight: 500;
  font-size: 20px;
}
.listCart .item:nth-child(even){
  background-color: #eee1;
  font-weight: 500;
  font-size: 20px;
}
.listCart{
  overflow: auto;
}

.listCart::-webkit-scrollbar{
  width: 0;
}

@media screen and (max-width: 992px){
  .listProduct{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px){
  .listProduct{
    display: block;
  }
  
.listProduct .item img{
  width: 50%; 
  filter: drop-shadow(0 50px 20px #0029);
}
.showCart{
  width: 100%;
}
.container{
  width: 90%;
  margin: 10px;
}
}


